.venv
__pycache__
.pytest_cache/
*.py[cod]
*.egg-info/
.build/
dist/
.state/
logs/
*.log
.env
config.yaml
screenshots

# ignore project management specific instructions
instructions

# iognore AGENTS.md
AGENTS.md
GEMINI.md

# ignore agent specific directories
.codex
.gemini
.claude